{
  "extends": "airbnb",
  "parser": "babel-eslint",
	"rules": {
    "max-len": ["error", { "code": 140 }]
  },
  "env": {
    "browser": true
  },
  "settings": {
    "import/resolver": {
      "babel-module": {}
    }
  }
}
