@import "styles/variables";
@import "styles/mixins";

.page {
  padding: $page-padding-y $page-padding-x;

  @include xs-to-md {
    padding: $page-padding-y-xs $page-padding-x-xs;
    padding-bottom: $page-padding-y;
  }

  @media screen and (min-width: 1440px + 1px) {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    box-sizing: content-box;
  }

  // ie-11
  @media screen and (min-width:0\0) {
    padding-top: 160px;
  }
}

.row {
  display: flex;

  @include xs-to-md {
    flex-wrap: wrap;
  }
}

.col {
  width: 1px;
  flex: 1 0 0%;

  @include xs-to-md {
    width: 100%;
    flex-basis: auto;
  }
  @media print {
    width: 1px;
  }
}
.margin-card-bottom {
  margin-bottom: $spacer-2;
}

.freelance-demo {
  color: white;
  background: #2a2a2a;
  border-radius: $border-radius-2;
  box-shadow: $shadow;
  padding: $spacer-2;
  font-size: 21px;
  a {
    font-size: 24px;
  }

  @media print {
    -webkit-print-color-adjust:exact;
    -webkit-filter:opacity(1);
  }
}

.left-section {
  padding-right: 130px;

  @include xs-to-md {
    padding-right: 0;
    margin-bottom: 50px;
  }
}

.text-capitalize {
  text-transform: capitalize;
}

.heading-3 {
  @include barlow-condensed-medium;

  font-size: 48px;
  line-height: 50px;

  &.text-gradient {
    background-image: linear-gradient(#febc40, #f47a8e);
    background-image:  -ms-linear-gradient(bottom, white, white);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  @include xs-to-md {
    padding-right: 0;
    font-size: 31px;
    line-height: 33px;
  }
}
.text-gradient {
  background-image: linear-gradient(#febc40, #f47a8e);
  background-image:  -ms-linear-gradient(bottom, white, white);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text {
  line-height: 26px;

  &.bolder {
    font-weight: 500;
  }

  &.margin-top {
    margin-top: $spacer-1;

    @include xs-to-md {
      margin-top: 5px;
    }
  }

  &.margin-top-extra {
    margin-top: $spacer-2;
  }

  + .text {
    margin-top: $spacer-2;
  }
}

.horizontal-line {
  margin: $spacer-4 0;
  border-color: $tc-gray-10;

  @include xs-to-md {
    margin-top: $spacer-2;
    margin-bottom: $spacer-2;
  }
}





.buttons {
  display: flex;
  margin-top: $spacer-2;

  > button{
  	border-radius: 20px !important;
    cursor:pointer;
  }

  > a:first-child {
    @include roboto-bold;

    margin: 0;
    font-size: 14px;
    line-height: 26px;
    background: $primary-button-bg;
    border-radius: 20px;
    text-decoration: none;

    &:active,
    &:hover {
      background: lighten($primary-button-bg, 2%);
    }

    @include xs-to-md {
      font-size: 12px;
    }
  }
}

.social-share-button {
  float: right;

  @media screen and (max-width: $screen-lg) {
    display: block;
    float: none;
    margin-top: $spacer-1;
  }
}

.card-container {
  > * + * {
    margin-top: $spacer-3;
  }

  @include xs-to-md {
    > * + * {
      margin-top: 15px;
    }
  }
}

.heading-card{

	width:50%;

}

.heading-6 {
  @include roboto-bold;

  font-size: 12px;
  line-height: 16px;
}

.box-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: -$spacer-3;
  padding-top: $spacer-1;

  @include xs-to-md {
    margin-right: -$spacer-1;
  }


}
.print-container {
  display: flex;
  justify-content: center;
  margin-right: -$spacer-3;
  padding-top: $spacer-1;

  @include xs-to-md {
    margin-right: -$spacer-1;
  }

}

.box {
  width: 176px;
  height: 130px;
  margin-right: $spacer-3;
  margin-bottom: $spacer-3;
  padding: $spacer-1 $spacer-1 16px;
  text-align: center;
  border: 1px solid $tc-gray-neutral-dark;
  border-radius: $border-radius-2;

  .value {
    display: block;
    color: $tc-purple-120;
    text-transform: uppercase;
  }

  .description {
    @include barlow-semibold;

    display: block;
    font-size: 20px;
    color: $tc-gray-70;
    line-height: 24px;
    margin-top: 6px;
    text-transform: uppercase;
  }

  &.padding-extra {
    padding-left: $spacer-2;
    padding-right: $spacer-2;
  }

  @include xs-to-md {
    width: 130px;
    height: 93px;
    margin-right: $spacer-1;
    margin-bottom: $spacer-1;
    padding: 4px 8px 7px;

    .description {
      font-size: 18px;
      line-height: 22px;
    }
  }
}

.total {
  @include barlow-semibold;

  margin: 0 (-$spacer-2);
  padding: $spacer-2;
  font-size: 18px;
  line-height: 24px;
  background: $tc-gray-neutral-dark;

  .annually,
  .weekly {
    display: inline-block;
    width: 50%;
  }

  .value {
    color: $tc-purple-120;
  }

  @include xs-to-md {
    margin: 0 (-$spacer-1);
    padding: $spacer-1;
    font-size: 16px;
    line-height: 20px;

    .annually,
    .weekly {
      display: block;
      width: 100%;
    }
  }
}

.save {
  @include barlow-bold;

  padding: $spacer-3 $spacer-2;
  font-size: 24px;
  line-height: 30px;
  background: $tc-purple-120;
  border-bottom-left-radius: $border-radius-2;
  border-bottom-right-radius: $border-radius-2;

  > span {
    display: block;
    color: $tc-white;

    small {
      font-size: 16px;
      font-weight: normal;
    }
  }

  @include xs-to-md {
    @include barlow-semibold;

    padding: 15px $spacer-1;
    font-size: 21px;
    line-height: 25px;
  }
}

.donut-chart-container {
  display: flex;
  padding-bottom: 25px;

  > .donut-chart-box,
  > .donut-legend-box {
    flex: 0 0 50%;
  }

  .donut-chart-box > svg {
    margin-left: auto;
  }

  .donut-legend-box {
    padding-left: $spacer-3;
    line-height: 26px;

    .heading-4 {
      font-weight: bold;
      margin-bottom: $spacer-1;
    }

    .label {
      display: block;
    }

    .dot-1 {
      background-color: #227681;
    }

    .dot-2 {
      background-color: #54B4C0;
    }

    .dot-3 {
      background-color: #2984BD;
    }

    .dot-4 {
      background-color: #50ADE8;
    }
  }

  @include xs-to-lg {
    flex-wrap: wrap;
    padding-bottom: $spacer-1;

    > .donut-chart-box,
    > .donut-legend-box {
      width: 100%;
      flex-basis: auto;
    }

    > .donut-legend-box {
      margin: 10px 0 15px;
      padding-left: 5px;
    }

    .donut-chart-box > svg {
      margin-right: auto;
    }
  }
}

.dot {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: $spacer-1;
  line-height: 1;
  vertical-align: middle;
  border-radius: 50%;
}

.line-chart-container {
  position: relative;
  padding: 15px 0 $spacer-3;

  .line-chart-box {

  }

  .line-legend-box {
    margin-top: $spacer-3;
    line-height: 26px;

    .label {
      display: inline-block;
      margin-right: $spacer-3;
    }

    .dot-1 {
      background-color: #0AB88A;
    }

    .dot-2 {
      background-color: #7F7F7F;
    }
  }

  .footer {
    margin-top: $spacer-4;
    font-size: 11px;
    color: $color-gray;
    line-height: 19px;
  }

  .message {
    margin-top: $spacer-2;
    padding: 24px 10px;
    background: $tc-white;
    border-radius: $border-radius-1;
    box-shadow: $shadow;
    text-align: center;

  }

  @include xs-to-md {
    padding-bottom: 25px;

    .line-legend-box {
      margin-top: $spacer-1;
    }

    .footer {
      margin-top: $spacer-1;
    }
    .message {
      position: static;
      margin-top: $spacer-1;
    }
  }
}

.talents {
  padding: $spacer-2 0 $spacer-4;

  @include xs-to-md {
    padding-bottom: 40px;
  }
}

.talent {
  padding: $spacer-2 5px;

  &.first {
    padding-left: $spacer-2;
  }

  @include xs-to-md {
    &.first {
      padding-left: 5px;
    }

    > div {
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.result-recalculate {

  > button{
   float: right;
  margin-top: -26px!important;
  background: transparent!important;
  color: #aaaaaa!important;
  padding:0px!important;
  cursor:pointer;

  	> img{
  	width:auto;
  	height:20px!important;
    }
  }

  > button:hover{

    > img{
    animation: rotation 0.85s linear;
    }
    @keyframes rotation {
      from {
      transform: rotate(0deg);
      }
      to {
      transform: rotate(359deg);
      }
      }
    }

  > button:active{
  	background-color: none!important;
    box-shadow: none!important;
    -mox-box-shadow: none!important;
  	}

}

.recalculate {
  display: flex;
  flex-direction: column;
  align-items: center;

  > button {
    font-weight: bold !important;
    font-size: 14px;
    line-height: 26px !important;
    border-radius: 20px !important;
    cursor: pointer;
  }

  @include xs-to-md {
    padding-top: 15px;

    > button {
      font-size: 12px;
    }
  }
}
.print-screen {
  .left-section {
    margin-bottom: $spacer-4;
  }
  .result-container {
    margin-right: $spacer-2;
  }
  .footer {
    margin-top: $spacer-3;
  }
}

.card-border {
  border: 1px solid #e4e1e1;
  border-radius: 10px;
}

.loader {
  margin-left: 10px;
  border: 3px solid #f3f3f3; /* Light grey */
  border-top: 3px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

