:global {

@each $key, $value in (
  violet: #{$tc-purple-120},
  darkCyan: #1E94A3,
  red: #{$tc-red-70},
  green: #0AB88A,
) {
  .text-#{$key} {
    color: $value;
  }
}

.upper-case {
  text-transform: uppercase;
}


} // end :global
